{% extends '/backoffice/editorial/layout.html.twig' %}

{% block page_title %} Admin Page - Trip Handlers - Articles{% endblock %}

{% block maincontent %}
<div class="span10">
    <div class="widget widget-table action-table">
        <div class="widget-header"> <i class="icon-th-list"></i>
            <h3> {%  block header_title %} Articles {% endblock %} </h3>
            <a href="{{ path('platform_editorial_article_form_admin') }}" class="btn btn-primary btn-small pull-right btn-header" data-toggle="modal" data-target="#myModal" >
                <i class="icon-plus"></i>&nbsp; Add
            </a>
            <div id="myModal" class="modal modal-large fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                    </div>
                </div>
            </div>

        </div>
        <!-- /widget-header -->
        <div class="widget-content">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th> Id </th>
                    <th> Title </th>
                    <th> Description </th>
                    <th> Category </th>
                    <th> Status </th>
                    <th class="td-actions"> </th>
                </tr>
                </thead>
                <tbody>

                    {% if articles is not empty %}
                        {% for article in articles %}
                            <tr>
                                <td> {{ article.contentid }} </td>
                                <td> {{ article.title }} </td>
                                <td> {{ article.description }} </td>
                                <td> {{ article.categoryid.title }} </td>
                                <td> {{ article.status }} </td>
                                <td class="td-actions">
                                    <a href="{{ path('platform_editorial_article_form_admin', {'articleId': article.contentid}) }}" data-toggle="modal" data-target="#editModal-{{ article.contentid }}">
                                        <img src="/back-office/icons/16x16/page_edit.png">
                                    </a>
                                    <a href="{{ path('platform_editorial_article_tag_form_admin', {'contentId': article.contentid}) }}" data-toggle="modal" data-target="#tagModal-{{ article.contentid }}">
                                        <img src="/back-office/icons/16x16/tag_blue.png">
                                    </a>
                                    <a href="{{ path('platform_editorial_article_delete_admin', {'articleId': article.contentid}) }}"  class="be-confirmed">
                                        <img src="/back-office/icons/16x16/page_go.png">
                                    </a>
                                    <a href="{{ path('platform_editorial_article_delete_admin', {'articleId': article.contentid}) }}"  class="be-confirmed">
                                        <img src="/back-office/icons/16x16/cross.png">
                                    </a>
                                </td>
                            </tr>
                            <div id="editModal-{{ article.contentid }}" class="modal modal-large fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    </div>
                                </div>
                            </div>
                            <div id="tagModal-{{ article.contentid }}" class="modal modal-sm fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <tr >
                            <td colspan="6" class="text-center">No items yet</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <!-- /widget-content -->
    </div>
    <!-- /widget -->
</div>
<!-- /span9 -->

{% endblock %}