{% extends '/backoffice/index.html.twig' %}

{% block page_title %} Admin Page - Trip Handlers - Customer{% endblock %}

{% block mainnav %}
    <ul class="mainnav">
        <li>
            <a href="{{ path('platform_admin_user') }}"><img src="/back-office/icons/32x32/lock.png"><span>Security</span> </a>
        </li>
        <li>
            <a href="{{ path('platform_editorial_category_admin') }}"><img src="/back-office/icons/32x32/newspaper.png"><span>Editorial</span> </a>
        </li>
        <li class="active">
            <a href="{{ path('platform_customer_admin_client') }}"><img src="/back-office/icons/32x32/status_online.png"><span>Customer</span> </a>
        </li>
        <li class="dropdown">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-long-arrow-down"></i><span>Drops</span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="icons.html">Icons</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="pricing.html">Pricing Plans</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="signup.html">Signup</a></li>
                <li><a href="error.html">404</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block leftmenu %}
    <div class="span2">
        <a href="{{ path('platform_customer_admin_client') }}" class="main-left"><img src="/back-office/icons/32x32/report_user.png"> <span>Customer</span></a>
        <a href="{{ path('platform_editorial_article_admin') }}" class="main-left"><img src="/back-office/icons/32x32/package.png"> <span>Offers</span></a>
        <a href="{{ path('platform_admin_tag') }}" class="main-left"><img src="/back-office/icons/32x32/application_form.png"> <span>Appliance</span></a>
    </div>
    <!-- /span2 -->
{% endblock %}
